<!-- Reel start -->
    <img alt="" class="xwzpupj x10l6tqk x1bs05mj x19991ni x1d8287x x5yr21d xuzhngd" referrerpolicy="origin-when-cross-origin" src="https://images.unsplash.com/photo-1534961165765-5c9795af911b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=707&q=80" style="filter: none; opacity: 1; width: 100%;">
    <div class="x1lcm9me x1yr5g0i xrt01vj x10y3i5r x6ikm8r x10wlt62 x5yr21d xh8yej3 x78zum5">
        <div class="x1lliihq x5yr21d x1n2onr6 xh8yej3 x1ja2u2z">
            <div class="x5yr21d x1n2onr6 xh8yej3">
                <div class="x5yr21d x1n2onr6 xh8yej3">
                    <div class="x5yr21d x1uhb9sk xh8yej3">
                        <video class="x1lliihq x5yr21d xh8yej3" playsinline="" preload="none" src="https://cdn.pixabay.com/vimeo/818020199/Le%C3%B3n%20-%20158980.mp4?width=1280&hash=fdd78ddf276ccb7b8bef70b6ec72dcfc79e62274" style="display: block;"></video>

                        <!-- Icono de volumen start -->
                        <div>
                            <div class="x5yr21d x10l6tqk x13vifvy xh8yej3">
                                <div class="x5yr21d xh8yej3 x78zum5 xdt5ytf">
                                    <div class="x1ey2m1c x9f619 xds687c x10l6tqk x17qophe x13vifvy x1ypdohk" role="presentation">
                                        <div class="x10l6tqk x78zum5 x1qughib xdt5ytf x17qophe xds687c x13vifvy x1ey2m1c xutac5l" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1emribx x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv xuk3077 x1oa3qoh x1nhvcw1">
                                                <div class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 x78zum5 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha">
                                                    <div class="x78zum5 x6s0dn4 xl56j7k xdt5ytf">
                                                        <div class="x78zum5 x6s0dn4 xl56j7k x10w6t97 x1td3qas x14yjl9h xudhj91 x18nykt9 xww2gxu xbka19w x6ikm8r x10wlt62">
                                                            <svg aria-label="El audio está silenciado" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="12" role="img" viewBox="0 0 48 48" width="12"><title>El audio está silenciado</title><path clip-rule="evenodd" d="M1.5 13.3c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1v-9.8c0-.4-.2-.8-.4-1.1l-22-22c-.3-.3-.7-.4-1.1-.4h-.6zm46.8 31.4-5.5-5.5C44.9 36.6 48 31.4 48 24c0-11.4-7.2-17.4-7.2-17.4-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8 0 5.4-2.1 9.3-3.8 11.6L35.5 32c1.1-1.7 2.3-4.4 2.3-8 0-6.8-4.1-10.3-4.1-10.3-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7 0 1.8-.4 3.2-.9 4.3L25.5 22V1.4c0-1.3-1.6-1.9-2.5-1L13.5 10 3.3-.3c-.6-.6-1.5-.6-2.1 0L-.2 1.1c-.6.6-.6 1.5 0 2.1L4 7.6l26.8 26.8 13.9 13.9c.6.6 1.5.6 2.1 0l1.4-1.4c.7-.6.7-1.6.1-2.2z" fill-rule="evenodd"></path></svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / Icono de volumen end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- / Reel end -->