<article class="x1iyjqo2">
    <div>
        <div style="position: relative; display: flex; flex-direction: column; padding-bottom: 0px; padding-top: 0px;">
            <!-- Bucle for de la primera fila con 3 elementos -->

            <!--
            <ng-container *ngFor="let item of this.posts; index as i; count as c">
                <ng-container *ngIf="i % 3 == 0">
                    <div class="_ac7v _al3n">
                        <div class="_aabd _aa8k _al3l" *ngFor="let el of this.posts | slice:0:3">
                            <span> data {{ i }} </span>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            -->

            <div class="_ac7v _al3n" *ngFor="let row of this.posts; index as i; count as c">
                <ng-container *ngIf=" c / 3 == 0" >  {{ i }} </ng-container>
                <ng-container  *ngFor="let item of this.posts; index as i; count as c">
                    <div class="_aabd _aa8k _al3l" *ngIf="3 <= 5">
                            <a
                            class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                            href="/p/CoU0qxhok_w/"
                            role="link"
                            tabindex="0"
                        >
                            <div class="_aagu">
                                <div class="_aagv">
                                    <img
                                        alt="Photo by Eddy Luján on February 06, 2023. May be a video game screenshot."
                                        class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                        decoding="auto"
                                        style="object-fit: cover;"
                                        sizes="309px"
                                        srcset="{{ item.imageURL}}"
                                    />
                                </div>
                                <div class="_aagw"></div>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </div>

            <!--
            <div class="_ac7v _al3n">
                <ng-container *ngIf="this.user">
                    <ng-container *ngFor="let item of this.posts; index as i; count as c">
                        <ng-container *ngIf="i <= 2; else continue">
                            <div class="_aabd _aa8k _al3l" (mouseover)="this.mouseInfoPost(true)" (mouseleave)="this.mouseInfoPost(false)">
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                    (click)="displayHorizontalWindowSwipePost(true, this.currentRoute)"
                                    role="link"
                                    tabindex="0"
                                >
                                    <div class="_aagu">
                                        <div class="_aagv">
                                            <img
                                                alt="{{item.caption}}"
                                                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                                src="{{ item.imageURL }}"
                                                style="object-fit: cover;"
                                            />
                                        </div>
                        
                                        <div class="_aagw"></div>
                                    </div>
                                    <div class="_aatp">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1emribx x1e56ztr x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <svg aria-label="Clip" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="18" role="img" viewBox="0 0 24 24" width="18">
                                                <title>Clip</title>
                                                <path
                                                    d="m12.823 1 2.974 5.002h-5.58l-2.65-4.971c.206-.013.419-.022.642-.027L8.55 1Zm2.327 0h.298c3.06 0 4.468.754 5.64 1.887a6.007 6.007 0 0 1 1.596 2.82l.07.295h-4.629L15.15 1Zm-9.667.377L7.95 6.002H1.244a6.01 6.01 0 0 1 3.942-4.53Zm9.735 12.834-4.545-2.624a.909.909 0 0 0-1.356.668l-.008.12v5.248a.91.91 0 0 0 1.255.84l.109-.053 4.545-2.624a.909.909 0 0 0 .1-1.507l-.1-.068-4.545-2.624Zm-14.2-6.209h21.964l.015.36.003.189v6.899c0 3.061-.755 4.469-1.888 5.64-1.151 1.114-2.5 1.856-5.33 1.909l-.334.003H8.551c-3.06 0-4.467-.755-5.64-1.889-1.114-1.15-1.854-2.498-1.908-5.33L1 15.45V8.551l.003-.189Z"
                                                    fill-rule="evenodd"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
            
                                    <ng-container *ngIf="this.infoPost">
                                        <div class="_ac2d" style="background: rgba(0, 0, 0, 0.3);">
                                            <ul class="_abpo">
                                                <li class="_abpm">
                                                    <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                                        <span>{{ item.likes }}&nbsp;mil</span>
                                                    </span>
                                                    <span class="_abpn _9-j_"></span>
                                                </li>
                                                <li class="_abpm">
                                                    <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                                        <span>109</span>
                                                    </span>
                                                    <span class="_abpn _9-k0"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-container>
                                </a>
                            </div>
                        </ng-container>
                        <ng-template #continue>
                            <div class="_aabd _aa8k _al3l" (mouseover)="this.mouseInfoPost(true)" (mouseleave)="this.mouseInfoPost(false)">
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                    (click)="displayHorizontalWindowSwipePost(true, this.currentRoute)"
                                    role="link"
                                    tabindex="0"
                                >
                                    <div class="_aagu">
                                        <div class="_aagv">
                                            <img
                                                alt="{{item.caption}}"
                                                class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                                src="{{ item.imageURL }}"
                                                style="object-fit: cover;"
                                            />
                                        </div>
                        
                                        <div class="_aagw"></div>
                                    </div>
                                    <div class="_aatp">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1emribx x1e56ztr x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <svg aria-label="Clip" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="18" role="img" viewBox="0 0 24 24" width="18">
                                                <title>Clip</title>
                                                <path
                                                    d="m12.823 1 2.974 5.002h-5.58l-2.65-4.971c.206-.013.419-.022.642-.027L8.55 1Zm2.327 0h.298c3.06 0 4.468.754 5.64 1.887a6.007 6.007 0 0 1 1.596 2.82l.07.295h-4.629L15.15 1Zm-9.667.377L7.95 6.002H1.244a6.01 6.01 0 0 1 3.942-4.53Zm9.735 12.834-4.545-2.624a.909.909 0 0 0-1.356.668l-.008.12v5.248a.91.91 0 0 0 1.255.84l.109-.053 4.545-2.624a.909.909 0 0 0 .1-1.507l-.1-.068-4.545-2.624Zm-14.2-6.209h21.964l.015.36.003.189v6.899c0 3.061-.755 4.469-1.888 5.64-1.151 1.114-2.5 1.856-5.33 1.909l-.334.003H8.551c-3.06 0-4.467-.755-5.64-1.889-1.114-1.15-1.854-2.498-1.908-5.33L1 15.45V8.551l.003-.189Z"
                                                    fill-rule="evenodd"
                                                ></path>
                                            </svg>
                                        </div>
                                    </div>
            
                                    <ng-container *ngIf="this.infoPost">
                                        <div class="_ac2d" style="background: rgba(0, 0, 0, 0.3);">
                                            <ul class="_abpo">
                                                <li class="_abpm">
                                                    <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                                        <span>{{ item.likes }}&nbsp;mil</span>
                                                    </span>
                                                    <span class="_abpn _9-j_"></span>
                                                </li>
                                                <li class="_abpm">
                                                    <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                                        <span>109</span>
                                                    </span>
                                                    <span class="_abpn _9-k0"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </ng-container>
                                </a>
                            </div>
                        </ng-template>
                        
                    </ng-container>
                </ng-container>
            </div>
           -->






            <!-- Bucle for de la Primera fila con 3 elementos -->
            <!-- <div class="_ac7v _al3n">
                <div class="_aabd _aa8k _al3l" (mouseover)="this.mouseInfoPost(true)" (mouseleave)="this.mouseInfoPost(false)">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        (click)="displayHorizontalWindowSwipePost(true, this.currentRoute)"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Desarrollando las historias de instagram 😍
                                    .
                                    .
                                    #developer #programmer #swift #xcode #firebase #apirest #code #desarrollador #appdeveloper #programador #storiesinstagram #coderlife #codinglife #webdeveloper #technology #developerlifestyle"
                                    crossorigin="anonymous"
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    src="https://images.unsplash.com/photo-1617634667039-8e4cb277ab46?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80"
                                    style="object-fit: cover;"
                                />
                            </div>
            
                            <div class="_aagw"></div>
                        </div>
                        <div class="_aatp">
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1emribx x1e56ztr x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                <svg aria-label="Clip" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="18" role="img" viewBox="0 0 24 24" width="18">
                                    <title>Clip</title>
                                    <path
                                        d="m12.823 1 2.974 5.002h-5.58l-2.65-4.971c.206-.013.419-.022.642-.027L8.55 1Zm2.327 0h.298c3.06 0 4.468.754 5.64 1.887a6.007 6.007 0 0 1 1.596 2.82l.07.295h-4.629L15.15 1Zm-9.667.377L7.95 6.002H1.244a6.01 6.01 0 0 1 3.942-4.53Zm9.735 12.834-4.545-2.624a.909.909 0 0 0-1.356.668l-.008.12v5.248a.91.91 0 0 0 1.255.84l.109-.053 4.545-2.624a.909.909 0 0 0 .1-1.507l-.1-.068-4.545-2.624Zm-14.2-6.209h21.964l.015.36.003.189v6.899c0 3.061-.755 4.469-1.888 5.64-1.151 1.114-2.5 1.856-5.33 1.909l-.334.003H8.551c-3.06 0-4.467-.755-5.64-1.889-1.114-1.15-1.854-2.498-1.908-5.33L1 15.45V8.551l.003-.189Z"
                                        fill-rule="evenodd"
                                    ></path>
                                </svg>
                            </div>
                        </div>

                        <ng-container *ngIf="this.infoPost">
                            <div class="_ac2d" style="background: rgba(0, 0, 0, 0.3);">
                                <ul class="_abpo">
                                    <li class="_abpm">
                                        <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                            <span>11,1&nbsp;mil</span>
                                        </span>
                                        <span class="_abpn _9-j_"></span>
                                    </li>
                                    <li class="_abpm">
                                        <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xl565be x1xlr1w8 x9bdzbf x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:20px;">
                                            <span>109</span>
                                        </span>
                                        <span class="_abpn _9-k0"></span>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </a>
                </div>
                <div class="_aabd _aa8k _al3l">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="/p/CoU0qxhok_w/"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Photo by Eddy Luján on February 06, 2023. May be a video game screenshot."
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    crossorigin="anonymous"
                                    decoding="auto"
                                    style="object-fit: cover;"
                                    sizes="309px"
                                    srcset="https://images.unsplash.com/photo-1619441207978-3d326c46e2c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80"
                                />
                            </div>
                            <div class="_aagw"></div>
                        </div>
                    </a>
                </div>
                <div class="_aabd _aa8k _al3l">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="/p/CgQMZUDI67a/"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Photo by Eddy Luján on July 20, 2022."
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    crossorigin="anonymous"
                                    decoding="auto"
                                    style="object-fit: cover;"
                                    sizes="309px"
                                    srcset="https://images.unsplash.com/photo-1682686581264-c47e25e61d95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                />
                            </div>
                            <div class="_aagw"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- / Bucle for de la primera fila con 3 elementos -->


            <!-- Bucle for de la Segunda fila con 3 elementos -->
            
            <!-- <div class="_ac7v _al3n">
                <div class="_aabd _aa8k _al3l">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="/p/CaztRc8outr/"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Photo by Eddy Luján on March 07, 2022."
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    crossorigin="anonymous"
                                    decoding="auto"
                                    style="object-fit: cover;"
                                    sizes="309px"
                                    srcset="https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                                    src="https://instagram.fmad19-1.fna.fbcdn.net/v/t51.2885-15/275478068_501271488264909_1988676449631557358_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=instagram.fmad19-1.fna.fbcdn.net&amp;_nc_cat=109&amp;_nc_ohc=ND6Lvt8WyZsAX-t3pEW&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=Mjc4ODc3MTcwNTY3ODY1NDMxNQ%3D%3D.2-ccb7-5&amp;oh=00_AfBx2AiINry47FRA8txZTSaSk_TxmlnN-vL2XgjqQ1VUOg&amp;oe=6458F5B5&amp;_nc_sid=1527a3"
                                />
                            </div>
                            <div class="_aagw"></div>
                        </div>
                    </a>
                </div>
                <div class="_aabd _aa8k _al3l">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="/p/CZ9wOlFoTkF/"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Photo by Eddy Luján on February 14, 2022."
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    crossorigin="anonymous"
                                    decoding="auto"
                                    style="object-fit: cover;"
                                    sizes="309px"
                                    srcset="https://images.unsplash.com/photo-1563663170139-88d80d6387ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80"
                                    src="https://instagram.fmad19-1.fna.fbcdn.net/v/t51.2885-15/274043681_1145130082896909_7105708332358565385_n.jpg?stp=dst-jpg_e35&amp;_nc_ht=instagram.fmad19-1.fna.fbcdn.net&amp;_nc_cat=109&amp;_nc_ohc=2qaS6FeblvYAX8V5GJ6&amp;edm=ACWDqb8BAAAA&amp;ccb=7-5&amp;ig_cache_key=Mjc3MzU4NTA1MzY1ODIwMDMyNQ%3D%3D.2-ccb7-5&amp;oh=00_AfBTP-o3syp0lKOMbmkOByqPXMxDzbPmaaPideFQV3L53Q&amp;oe=6457AE3F&amp;_nc_sid=1527a3"
                                />
                            </div>
                            <div class="_aagw"></div>
                        </div>
                    </a>
                </div>
                <div class="_aabd _aa8k _al3l">
                    <a
                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                        href="/p/CWB8lj4oX02/"
                        role="link"
                        tabindex="0"
                    >
                        <div class="_aagu">
                            <div class="_aagv">
                                <img
                                    alt="Photo by Eddy Luján on November 08, 2021."
                                    crossorigin="anonymous"
                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                    src="https://plus.unsplash.com/premium_photo-1675804669860-9e27f22b0681?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2100&q=80"
                                    style="object-fit: cover;"
                                />
                            </div>
                            <div class="_aagw"></div>
                        </div>
                        <div class="_aatp">
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1emribx x1e56ztr x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                <svg aria-label="Secuencia" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="22" role="img" viewBox="0 0 48 48" width="22">
                                    <title>Secuencia</title>
                                    <path
                                        d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            -->
            <!-- /Bucle for de la segunda fila con 3 elementos -->
        </div>
    </div>
</article>