/** 
* ================================= 
*    62. Responsive CSS Start 
* =================================
**/

/* ========= min and max scss for 1200 to 1366 screen ========= */
@media (max-width: 1800px) {
    body {
        background-color: aqua;
    }
}

@media screen and (max-width: 1660px) {
    body {
        background-color: greenyellow;
    }
}
@media screen and (max-width: 1600px) {

    body {
        background-color: lightskyblue;
    }

}
@media screen and (max-width: 1660px) and (min-width: 1200px) {
    
}
@media (max-width: 1280px) {

}
@media screen and (max-width: 1580px) and (min-width: 1200px) {

}
@media screen and (max-width: 1445px) and (min-width: 1410px) {

}
@media (max-width: 1470px) {

}
@media screen and (max-width: 1410px) and (min-width: 1367px) {

}
@media screen and (max-width: 1366px) and (min-width: 1200px) {

}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 1366px) and (min-width: 1200px) {

}
@media only screen and (max-width: 1199.98px) {

}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
   
}
@media only screen and (max-width: 991.98px) {

}
@media only screen and (max-width: 991px) and (min-width: 768px) {

}
@media only screen and (max-width: 810px) {

}
@media only screen and (max-width: 767.98px) {

}
@media only screen and (max-width: 767px) and (min-width: 576px) {

}
@media only screen and (max-width: 710px) {
    body {
        background-color: white;
    }
}
@media only screen and (max-width: 630px) {

}
@media only screen and (max-width: 575.98px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 420px) {

}
@media only screen and (max-width: 360px) {

}
@media only screen and (min-width: 576px) {

}
@media (width: 768px) and (height: 1024px) {

}

/** 
* ================================= 
*    62. Responsive CSS Start Ends
* =================================
**/