<div class="_aao_">
    <div class="_aap0" role="presentation">
        <div class="_aap1">
            <ul class="_acay">
                <!-- Bucle for item stories  -->
                <li style="transform: translateX(0px); width: 24px;"></li>
                <li style="transform: translateX(396px); width: 24px;"></li>

                <!-- Transfor avan de 123px en adelante... -->
                <!-- Storie 1 -->
                <li class="_acaz" style="transform: translateX(24px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="_aams _aamt" aria-disabled="true" role="button" tabindex="-1">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x1lliihq" style="width: 77px; height: 77px;">
                                    <img alt="Foto del perfil de SETUP" class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" src="https://images.unsplash.com/photo-1622023798750-8835db5b45f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;"><span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">SETUP</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Storie 2 -->
                <li class="_acaz" style="transform: translateX(156px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="_aams _aamt" aria-disabled="true" role="button" tabindex="-1">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x1lliihq" style="width: 77px; height: 77px;">
                                    <img alt="Foto del perfil de SETUP" class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" src="https://images.unsplash.com/photo-1615015456178-ae6bb600b7ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80">
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;"><span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">SETUP</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Storie 3 -->
                <li class="_acaz" style="transform: translateX(288px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="_aams _aamt" aria-disabled="true" role="button" tabindex="-1">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x1lliihq" style="width: 77px; height: 77px;">
                                    <img alt="Foto del perfil de SETUP" class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" src="https://images.unsplash.com/photo-1621587144649-ea11e0165fd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80">
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;"><span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">SETUP</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Storie 4 -->
                <li class="_acaz" style="transform: translateX(420px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="_aams _aamt" aria-disabled="true" role="button" tabindex="-1">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x1lliihq" style="width: 77px; height: 77px;">
                                    <img alt="Foto del perfil de SETUP" class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" src="https://images.unsplash.com/photo-1621847468516-1ed5d0df56fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80">
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;"><span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">SETUP</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Storie 5 -->
                <li class="_acaz" style="transform: translateX(552px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="_aams _aamt" aria-disabled="true" role="button" tabindex="-1">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x1lliihq" style="width: 77px; height: 77px;">
                                    <img alt="Foto del perfil de SETUP" class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3" src="https://images.unsplash.com/photo-1596430222039-4a2d7b4cd767?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80">
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;"><span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">SETUP</span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Ultimo elemento y es el boton para crear otra storie -->
                <li class="_acaz" tabindex="-1" style="transform: translateX(684px);">
                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="width: 125px;">
                        <div class="x6s0dn4 x78zum5 xdt5ytf x9f619 x1jo5dny x5zefxq x1u2d83q x1lvagci x11853ko xwzhuwn x19xppfw x1lvlso5 x1hqdklf x4js05n xm4az7" aria-disabled="false" role="menuitem" tabindex="0" style="cursor: pointer;">
                            <div class="xamitd3 x1lliihq x1n2onr6 x87ps6o x1ypdohk">
                                <canvas height="174" width="174" style="position: absolute; top: -5px; left: -5px; width: 87px; height: 87px;"></canvas>
                                <div class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x6ikm8r x10wlt62 x1n2onr6 x78zum5 xl56j7k x6s0dn4" style="width: 77px; height: 77px;">
                                    <svg aria-label="Icono &quot;más&quot;" class="x1lliihq x1n2onr6" color="rgb(199, 199, 199)" fill="rgb(199, 199, 199)" height="44" role="img" viewBox="0 0 24 24" width="44"><title>Icono "más"</title><path d="M21 11.3h-8.2V3c0-.4-.3-.8-.8-.8s-.8.4-.8.8v8.2H3c-.4 0-.8.3-.8.8s.3.8.8.8h8.2V21c0 .4.3.8.8.8s.8-.3.8-.8v-8.2H21c.4 0 .8-.3.8-.8s-.4-.7-.8-.7z"></path></svg>
                                </div>
                            </div>
                            <div class="x1ypdohk x2b8uid xh8yej3 xpzf5u2 x1ldzjpm">
                                <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye x1fhwpqd x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:16px;">
                                    <span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">Nuevo</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>