<!-- <div style="border: 1px solid green;">
    <p class="addBigphone">navigation works!</p>
</div> -->

<!-- <p>Hello</p>
how are
<p>you?</p>
<button>Attach/detach paragraphs</button> -->

<!-- <div style="border: 1px solid green;">
    <section>
        <h1 waResizeBox="content-box" (waResizeObserver)="onResize($event)">
            <div>
            width: {{this.width}}
            </div>
            <div>
            height: {{this.height}}
            </div>
            <span>
            domRectReadOnly: {{this.domRectReadOnly | json}}
            </span>
        </h1>
    </section>
</div> -->

<!-- <div style="border: 1px solid green;">

    <h1 #asTitle waResizeBox="content-box" (waResizeObserver)="onResize($event)">width: {{this.width}}</h1>
    <ul>
        <li *ngFor="let item of this.lenguajes">
            <span>{{item}}</span>
        </li>
    </ul>
</div> -->

<!-- <div id="parent">
    <div id="bloque" class="addSmallphone" style="background: green;">1 - smallPhoneAdd green</div>
</div> -->

<h1>Header</h1>

semi presencial
san fernanzo de heranres
AWS