<!-- Post start -->
<div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1" style=" border: 1px solid green;">
    <div class="xh8yej3" style="max-width: 470px;">
        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
            <div>
                <!--  style="width: 100%; border: 1px solid lightcoral;" -->
                <!-- padding-bottom: 4119px; se va cambiando cuando baja el scroll -->
                <div style="position: relative; display: flex; flex-direction: column; padding-bottom: 10px; padding-top: 0;">
                    
                    <app-articlepost (mouseOverEvent)="this.mouseOver($event)"></app-articlepost>
                    <app-articlepost (mouseOverEvent)="this.mouseOver($event)"></app-articlepost>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Post End -->


<app-overlay
*ngIf="targetOverlay"
[height]="targetOverlay.height"
[left]="targetOverlay.left"
[top]="targetOverlay.top"
[width]="targetOverlay.width">
<!-- J48HHA -->
</app-overlay>



<div>
    <div>
        <div #asParentDisplay (mouseover)="this.mouseOverDisplay(true)">
            <!-- <div  class="xu96u03 xm80bdy x10l6tqk x13vifvy xfbpl4g x127lhb5 xa3vuyk" style="transform: translate(699px, 208px);border: 1px solid red;" #asChildrenDisplay></div> -->
            <div *ngIf="this.displayViewInfoProfile" class="xu96u03 xm80bdy x10l6tqk x13vifvy xfbpl4g x127lhb5 xa3vuyk"  
            [ngStyle]="{'transform':this.displayViewInfoProfile==true ? 'translate('+this.clientX+'px, '+this.clientY+'px)' : 'translate('+this.clientX+'px, '+this.clientY+'px)' }" #asChildrenDisplay>
                <!-- <div class="xvbhtw8 x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1rj4ezl x1n2onr6 xfr5jun xexx8yu x4uap5 x18d9i69 xkhd6sd">
                    <div class="x6s0dn4 xrvj5dj x19g8pj0 x1dh5ka xyamay9 x1l90r2v x1mu97ne">
                        <div>
                            <div class="x6s0dn4 xrvj5dj xjv0b96 x1wdtju6 x1swvt13 x1pi30zi">
                                <div>
                                    <div class="_aarf _aarg" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de jesusmosquera__"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1682356828551-96826d14382b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                            />
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="x6s0dn4 x78zum5 xmix8c7">
                                            <a
                                                class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                                href="/jesusmosquera__"
                                                role="link"
                                                tabindex="0"
                                            >
                                                <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xl565be x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 20px;">jesusmosquera__</span>
                                            </a>
                                            <span class="xsgj6o6"><span class="_act0 _a9_u _9ys7" title="Verificado">Verificado</span></span>
                                        </div>
                                        <div class="xmix8c7 x1gslohp x1rva8in">
                                            <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x1roi4f4 x1yc453h x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">Jesús Mosquera</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="x6s0dn4 xrvj5dj x8l38fb x1rp53t7">
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>172</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">publicaciones</span></div>
                                </div>
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>1,2&nbsp;M</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">seguidores</span></div>
                                </div>
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>480</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">siguiendo</span></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="x6s0dn4 xrvj5dj x8l38fb x1rp53t7">
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/ClrmTZssEQx/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://images.unsplash.com/photo-1682175904468-1958501d39be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1022&q=80"
                                    />
                                </a>
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/CnuzK_RMCNA/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://plus.unsplash.com/premium_photo-1675461587541-3b3f5dabe739?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                                    />
                                </a>
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/ClFD5hSsPjv/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://images.unsplash.com/photo-1682348686716-9a71d77e681c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                    />
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="x1swvt13 x1pi30zi">
                                <div class="x78zum5">
                                    <div class="x1iyjqo2 xw3qccf x1ncir08">
                                        <div
                                            class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w x972fbf xcfux6l x1qhh985 xm0m39n xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x18d9i69 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x78zum5 x1i0vuye xwhw2v2 x10w6t97 xl56j7k x17ydfre x1f6kntn x1swvt13 x1pi30zi x2b8uid xlyipyv x87ps6o x9bdzbf x1n2onr6 x1d5wrs8 xh8yej3 x1tu34mt xzloghq"
                                            role="button"
                                            tabindex="0"
                                        >
                                            <span class="x6s0dn4 x3nfvp2">
                                                <span class="x1emribx">
                                                    <svg aria-label="" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="20" role="img" viewBox="0 0 24 24" width="20">
                                                        <title></title>
                                                        <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                        <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                    </svg>
                                                </span>
                                                Enviar mensaje
                                            </span>
                                        </div>
                                    </div>
                                    <div class="x1iyjqo2 xsgj6o6 x1ncir08">
                                        <button class="_acan _acap _acaq _acat _aj1-" type="button">
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x150jy0e x1e558r4 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                                <div class="_aacl _aaco _aacw _aad6 _aade">Siguiendo</div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <app-display-profile></app-display-profile>
            </div>
        </div>
    </div>
</div> 
<!-- / Información flotante end -->

