<!-- Post start -->
<div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1" style=" border: 1px solid green;" #asSuperParentPost>
    <div class="xh8yej3" style="max-width: 470px;">
        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
            <div>
                <div style="position: relative; display: flex; flex-direction: column; padding-bottom: 4119px; padding-top: 0;" style="width: 100%; border: 1px solid lightcoral;" #asParentPost>
                    <article class="_aggc _aatb _aatc _aate _aatf _aath _aati" tabindex="-1" role="presentation">
                        <div
                            style="max-height: inherit; max-width: inherit;"
                            class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh xl56j7k"
                        >
                            <div class="_aasi _aasj _ai9a">
                                <div
                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1qughib"
                                >
                                    <header class="_aaqw _aaqx _aggb">
                                        <div>
                                            <div class="x1lliihq"> 
                                                <div class="x1lliihq">
                                                    <div class="_aarf _aarg _aaqq" aria-disabled="false" role="button" style="cursor: pointer;">
                                                        <canvas
                                                            class="_aarh"
                                                            height="42"
                                                            width="42"
                                                            style="position: absolute; top: -5px; left: -5px; width: 42px; height: 42px;"
                                                        ></canvas>
                                                        <span 
                                                            (mouseover)="mouseOver()" (mouseleave)="mouseLeave()"
                                                            #asProfileImageRef
                                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                                            role="link"
                                                            tabindex="-1"
                                                            style="width: 32px; height: 32px;"
                                                        >
                                                            <img
                                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                                src="https://lujandev.com/wp-content/uploads/2023/03/ld-02-1152x1536.png"
                                                                alt=""
                                                            />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_aaqy _aaq-">
                                            <div class="_aar0 _aar1 onhover-dropdown" style="border: 1px solid red;">
                                                <div class="x78zum5">
                                                    <div class="_aaqt">
                                                        <div
                                                            class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1"
                                                        >
                                                            <span
                                                                style="line-height: var(--base-line-clamp-line-height);"
                                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                            >
                                                                <div class="xt0psk2">
                                                                    <div class="xt0psk2">
                                                                        <a  
                                                                            #asUsernameElementRef
                                                                            class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1i0vuye xwhw2v2 xl56j7k x17ydfre x1f6kntn x2b8uid xlyipyv x87ps6o x14atkfc x1d5wrs8 x972fbf xcfux6l x1qhh985 xm0m39n xm3z3ea x1x8b98j x131883w x16mih1h xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xjbqb8w x1n5bzlp xqnirrm xj34u2y x568u83 x3nfvp2"
                                                                        >
                                                                            usrname
                                                                        </a>
                                                                    </div> 
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_aaql">
                                                <div class="_aaqm">
                                                    <div class="_aacl _aacn _aacu _aacy _aada _aade">
                                                        <a
                                                            href=""
                                                            class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _aaqk _a6hd"
                                                        >
                                                            Madrid
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!---------------------- 
                                            Bookmark
                                        ------------------------>
                                        <div class="onhover-dropdown px-2" style="background: #ccc6;border-radius: 50%;">
                                            <span>xxx</span>
                                            <div class="onhover-show-div bookmark-flip">
                                                <div class="flip-card">
                                                    <div class="flip-card-inner">
                                                        <div class="front">
                                                            <h6 class="f-18 mb-0 dropdown-title">Bookmark</h6>
                                                            <ul class="bookmark-dropdown">
                                                                <li>
                                                                    <div class="row">
                                                                        <div class="col-4 text-center">
                                                                            <div class="bookmark-content">
                                                                                <span>Forms</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!---------------------- 
                                            Bookmark end
                                        ------------------------>

                                    </header>
                                    <div class="_aasm _aasn _agh1">
                                        <button class="_abl-" type="button">
                                            <div class="_abm0 _abl_">
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k"
                                                >
                                                    <svg
                                                        aria-label="Más opciones"
                                                        class="_ab6-"
                                                        color="rgb(0, 0, 0)"
                                                        fill="rgb(0, 0, 0)"
                                                        height="24"
                                                        role="img"
                                                        viewBox="0 0 24 24"
                                                        width="24"
                                                    >
                                                        <circle cx="12" cy="12" r="1.5"></circle>
                                                        <circle cx="6" cy="12" r="1.5"></circle>
                                                        <circle cx="18" cy="12" r="1.5"></circle>
                                                    </svg>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="_aatk _aiao">
                                <div
                                    class="x1qjc9v5 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x78zum5 xdt5ytf x2lah0s xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xggy1nq x11njtxf"
                                    role="button"
                                    tabindex="0"
                                >
                                    <div>
                                        <div class="_aagu _aato">
                                            <div class="_aagv" style="padding-bottom: 125%;">
                                                <img
                                                    class="x5yr21d xu96u03 x10l6tqk x13vifvy x87ps6o xh8yej3"
                                                    src="https://lujandev.com/wp-content/uploads/2023/03/ld-02-1152x1536.png"
                                                    alt=""
                                                    style="object-fit: cover;"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                            >
                                <div class="_ae1h _ae1i _ae1l">
                                    <div class="_ae3w _aggd">
                                        <section class="_aamu _ae3_ _ae40 _ae48 _agge">
                                            <span class="_aamw">
                                                <button class="_abl-" type="button">
                                                    <div class="_abm0 _abl_">
                                                        <span>
                                                            <svg
                                                                aria-label="Me gusta"
                                                                class="x1lliihq x1n2onr6"
                                                                color="rgb(38, 38, 38)"
                                                                fill="rgb(38, 38, 38)"
                                                                height="24"
                                                                role="img"
                                                                viewBox="0 0 24 24"
                                                                width="24"
                                                            >
                                                                <title>Me gusta</title>
                                                                <path
                                                                    d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                                                                ></path>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </button>
                                            </span>
                                            <span class="_aamx">
                                                <button class="_abl-" type="button">
                                                    <div class="_abm0 _abl_">
                                                        <span>
                                                            <svg
                                                                aria-label="Comentar"
                                                                class="x1lliihq x1n2onr6"
                                                                color="rgb(0, 0, 0)"
                                                                fill="rgb(0, 0, 0)"
                                                                height="24"
                                                                role="img"
                                                                viewBox="0 0 24 24"
                                                                width="24"
                                                            >
                                                                <title>Comentar</title>
                                                                <path
                                                                    d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                ></path>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </button>
                                            </span>
                                            <span class="_aamy">
                                                <button class="_abl-" type="button">
                                                    <div class="_abm0 _abl_">
                                                        <span>
                                                            <svg
                                                                aria-label="Compartir publicación"
                                                                class="x1lliihq x1n2onr6"
                                                                color="rgb(0, 0, 0)"
                                                                fill="rgb(0, 0, 0)"
                                                                height="24"
                                                                role="img"
                                                                viewBox="0 0 24 24"
                                                                width="24"
                                                            >
                                                                <title>Compartir publicación</title>
                                                                <line
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    x1="22"
                                                                    x2="9.218"
                                                                    y1="3"
                                                                    y2="10.083"
                                                                ></line>
                                                                <polygon
                                                                    fill="none"
                                                                    points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                                                                    stroke="currentColor"
                                                                    stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                ></polygon>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </button>
                                            </span>
                                            <span class="_aamz">
                                                <div>
                                                    <div style="cursor: pointer;" role="button" tabindex="0">
                                                        <button class="_abl-" type="button">
                                                            <div class="_abm0 _abl_">
                                                                <svg
                                                                    aria-label="Guardar"
                                                                    class="x1lliihq x1n2onr6"
                                                                    color="rgb(0, 0, 0)"
                                                                    fill="rgb(0, 0, 0)"
                                                                    height="24"
                                                                    role="img"
                                                                    viewBox="0 0 24 24"
                                                                    width="24"
                                                                >
                                                                    <title>Guardar</title>
                                                                    <polygon
                                                                        fill="none"
                                                                        points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                                                                        stroke="currentColor"
                                                                        stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        stroke-width="2"
                                                                    ></polygon>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </span>
                                        </section>
                                        <section class="_ae5m _ae5o _agge">
                                            <div
                                                class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                            >
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xr1yuqi xkrivgy x4ii5y1 x1gryazu x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf x1a02dak xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                >
                                                    <span
                                                        style="line-height: 18px;"
                                                        class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                    >
                                                        <a
                                                            href=""
                                                            class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                                        >
                                                            <span
                                                                class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                            >
                                                                <span>103</span> me gusta
                                                            </span>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </section>
                                        <div class="_ae5q _akdn _ae5s _agge">
                                            <div
                                                class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                            >
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1e56ztr x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                >
                                                    <div
                                                        class="x9f619 xjbqb8w x1lliihq x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                    >
                                                        <div class="xt0psk2">
                                                            <div class="xt0psk2">
                                                                <a
                                                                    href=""
                                                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _a6hd"
                                                                    role="link"
                                                                    tabindex="0"
                                                                >
                                                                    <span class="_aacl _aaco _aacw _aacx _aad7 _aade">
                                                                        <div
                                                                            class="x9f619 xjbqb8w x1rg5ohu x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1"
                                                                        >
                                                                            username
                                                                        </div>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <span class="_aacl _aaco _aacu _aacx _aad7 _aade">
                                                                <h1 class="_aacl _aaco _aacu _aacx _aad7 _aade">
                                                                    Don't let your 9 to 5 define you. Your side hustle is what makes you interesting.
                                                                </h1>
                                                                <span>
                                                                    ...&nbsp;
                                                                    <div style="cursor: pointer; display: inline;" role="button" tabindex="0">
                                                                        <span
                                                                            class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                                            style="line-height: var(--base-line-clamp-line-height);"
                                                                        >
                                                                            más
                                                                        </span>
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1e56ztr x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                >
                                                    <div style="cursor: pointer;">
                                                        <div class="_aacl _aacn _aacw _aacx _aad6">Ver traduccón</div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1e56ztr x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                >
                                                    <a
                                                        href=""
                                                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                                        role="link"
                                                        tabindex="0"
                                                    >
                                                        <span
                                                            class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                            style="line-height: var(--base-line-clamp-line-height);"
                                                        >
                                                            Ver los <span>2</span> comentarios
                                                        </span>
                                                    </a>
                                                </div>
                                                <div
                                                    class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x12nagc x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                >
                                                    <div
                                                        class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x12nagc x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1"
                                                    >
                                                        <div
                                                            class="x9f619 xjbqb8w x1lliihq x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                        >
                                                            <div class="xt0psk2">
                                                                <div class="xt0psk2">
                                                                    <a
                                                                        href=""
                                                                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _a6hd"
                                                                        role="link"
                                                                        tabindex="0"
                                                                    >
                                                                        <span class="_aacl _aaco _aacw _aacx _aad7 _aade">
                                                                            <div
                                                                                class="x9f619 xjbqb8w x1rg5ohu x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1"
                                                                            >
                                                                                easydevelop_official
                                                                            </div>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <span class="_aacl _aaco _aacu _aacx _aad7 _aade">&nbsp;</span>
                                                                <span class="_aacl _aaco _aacu _aacx _aad7 _aade">
                                                                    <span class="_aacl _aaco _aacu _aacx _aad7 _aade">content coment</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div
                                                            class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                        >
                                                            <span>
                                                                <div class="_aamf">
                                                                    <button class="_abl- _abm2">
                                                                        <div class="_abm0 _abl_">
                                                                            <span>
                                                                                <svg
                                                                                    aria-label="Me gusta"
                                                                                    class="x1lliihq x1n2onr6"
                                                                                    color="rgb(142, 142, 142)"
                                                                                    fill="rgb(142, 142, 142)"
                                                                                    height="12"
                                                                                    role="img"
                                                                                    viewBox="0 0 24 24"
                                                                                    width="12"
                                                                                >
                                                                                    <title>Me gusta</title>
                                                                                    <path
                                                                                        d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                                                                                    ></path>
                                                                                </svg>
                                                                            </span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <section class="_aaoe _agne _ae5y _ae5_ _ae60 _ae62">
                                            <div class="_aaof">
                                                <form action="" class="_aidk _ak6u">
                                                    <div class="_akhn">
                                                        <div class="xo1ph6p xexx8yu x4uap5 x18d9i69 xkhd6sd">
                                                            <div>
                                                                <button class="_abl- _abm2" type="button">
                                                                    <div class="_abm0 _abl_">
                                                                        <svg
                                                                            aria-label="Emoticono"
                                                                            class="x1lliihq x1n2onr6"
                                                                            color="rgb(115, 115, 115)"
                                                                            fill="rgb(115, 115, 115)"
                                                                            height="13"
                                                                            role="img"
                                                                            viewBox="0 0 24 24"
                                                                            width="13"
                                                                        >
                                                                            <title>Emoticono</title>
                                                                            <path
                                                                                d="M15.83 10.997a1.167 1.167 0 1 0 1.167 1.167 1.167 1.167 0 0 0-1.167-1.167Zm-6.5 1.167a1.167 1.167 0 1 0-1.166 1.167 1.167 1.167 0 0 0 1.166-1.167Zm5.163 3.24a3.406 3.406 0 0 1-4.982.007 1 1 0 1 0-1.557 1.256 5.397 5.397 0 0 0 8.09 0 1 1 0 0 0-1.55-1.263ZM12 .503a11.5 11.5 0 1 0 11.5 11.5A11.513 11.513 0 0 0 12 .503Zm0 21a9.5 9.5 0 1 1 9.5-9.5 9.51 9.51 0 0 1-9.5 9.5Z"
                                                                            ></path>
                                                                        </svg>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <textarea
                                                            aria-label="Añade un comentario..."
                                                            placeholder="Añade un comentario..."
                                                            class="x1i0vuye xvbhtw8 x76ihet xwmqs3e x112ta8 xxxdfa6 x5n08af x78zum5 x1iyjqo2 x1qlqyl8 x1d6elog xlk1fp6 x1a2a7pz xexx8yu x4uap5 x18d9i69 xkhd6sd xtt52l0 xnalus7 x1bq4at4 xaqnwrm xs3hnx8"
                                                            autocomplete="off"
                                                            autocorrect="off"
                                                        ></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Post End -->



 <!-- Información flotante start -->
<div >
    <div >
        <div #asParentDisplay>
            <!-- <div class="xu96u03 xm80bdy x10l6tqk x13vifvy xfbpl4g x127lhb5 xa3vuyk" [ngStyle]="{'transform': 'translate(82px, '+this.pageY+'px)' }" #asInfoUser> -->
            <!--<div class="xu96u03 xm80bdy x10l6tqk x13vifvy xfbpl4g x127lhb5 xa3vuyk" style="transform: translate(82px, 255px); border: 1px solid red;" #asChildrenDisplay >-->
            <div class="xu96u03 xm80bdy x10l6tqk x13vifvy xfbpl4g x127lhb5 xa3vuyk" style="border: 1px solid red;" #asChildrenDisplay >
                <div class="xvbhtw8 x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1rj4ezl x1n2onr6 xfr5jun xexx8yu x4uap5 x18d9i69 xkhd6sd">
                    <div class="x6s0dn4 xrvj5dj x19g8pj0 x1dh5ka xyamay9 x1l90r2v x1mu97ne">
                        <div>
                            <div class="x6s0dn4 xrvj5dj xjv0b96 x1wdtju6 x1swvt13 x1pi30zi">
                                <div>
                                    <div class="_aarf _aarg" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de jesusmosquera__"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1682356828551-96826d14382b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                            />
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="x6s0dn4 x78zum5 xmix8c7">
                                            <a
                                                class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                                                href="/jesusmosquera__"
                                                role="link"
                                                tabindex="0"
                                            >
                                                <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xl565be x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 20px;">jesusmosquera__</span>
                                            </a>
                                            <span class="xsgj6o6"><span class="_act0 _a9_u _9ys7" title="Verificado">Verificado</span></span>
                                        </div>
                                        <div class="xmix8c7 x1gslohp x1rva8in">
                                            <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x1roi4f4 x1yc453h x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">Jesús Mosquera</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="x6s0dn4 xrvj5dj x8l38fb x1rp53t7">
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>172</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">publicaciones</span></div>
                                </div>
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>1,2&nbsp;M</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">seguidores</span></div>
                                </div>
                                <div class="xexx8yu x1sxyh0 x18d9i69 xurb0ha x2b8uid">
                                    <div>
                                        <span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp x1xlr1w8 x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;"><span>480</span></span>
                                    </div>
                                    <div class="x1gslohp"><span class="x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs xt0psk2 x1i0vuye xvs91rp xo1l8bm x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: 18px;">siguiendo</span></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="x6s0dn4 xrvj5dj x8l38fb x1rp53t7">
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/ClrmTZssEQx/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://images.unsplash.com/photo-1682175904468-1958501d39be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1022&q=80"
                                    />
                                </a>
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/CnuzK_RMCNA/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://plus.unsplash.com/premium_photo-1675461587541-3b3f5dabe739?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80"
                                    />
                                </a>
                                <a
                                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz xnz67gz x78zum5 x1wkxgih x162lpob _a6hd"
                                    href="/p/ClFD5hSsPjv/"
                                    role="link"
                                    tabindex="0"
                                >
                                    <img
                                        height="120"
                                        width="120"
                                        alt=""
                                        class="xl1xv1r"
                                        referrerpolicy="origin-when-cross-origin"
                                        src="https://images.unsplash.com/photo-1682348686716-9a71d77e681c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                    />
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="x1swvt13 x1pi30zi">
                                <div class="x78zum5">
                                    <div class="x1iyjqo2 xw3qccf x1ncir08">
                                        <div
                                            class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w x972fbf xcfux6l x1qhh985 xm0m39n xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x18d9i69 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1lq5wgf xgqcy7u x30kzoy x9jhf4c x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x78zum5 x1i0vuye xwhw2v2 x10w6t97 xl56j7k x17ydfre x1f6kntn x1swvt13 x1pi30zi x2b8uid xlyipyv x87ps6o x9bdzbf x1n2onr6 x1d5wrs8 xh8yej3 x1tu34mt xzloghq"
                                            role="button"
                                            tabindex="0"
                                        >
                                            <span class="x6s0dn4 x3nfvp2">
                                                <span class="x1emribx">
                                                    <svg aria-label="" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="20" role="img" viewBox="0 0 24 24" width="20">
                                                        <title></title>
                                                        <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                        <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                    </svg>
                                                </span>
                                                Enviar mensaje
                                            </span>
                                        </div>
                                    </div>
                                    <div class="x1iyjqo2 xsgj6o6 x1ncir08">
                                        <button class="_acan _acap _acaq _acat _aj1-" type="button">
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x150jy0e x1e558r4 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                                <div class="_aacl _aaco _aacw _aad6 _aade">Siguiendo</div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- / Información flotante end -->