<div
    class="x1uhb9sk"
    style=""
>
    <div class="x9f619 x1n2onr6 x1ja2u2z">
        <div class="x78zum5 xdt5ytf xg6iff7 x1n2onr6">
            <div class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
            <div class="x1uvtmcs x4k7w5x x1h91t0o x1beo9mf xaigb6o x12ejxvf x3igimt xarpa2k xedcshv x1lytzrv x1t2pt76 x7ja8zs x1n2onr6 x1qrby5j x1jfb8zj" tabindex="-1">
                <div
                    class="x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k"
                    style=""
                >
                    <div class="x1cy8zhl x9f619 x78zum5 xl56j7k x2lwn1j xeuugli x47corl">
                        <div role="dialog" class="x1ja2u2z x1afcbsf x1a2a7pz x6ikm8r x10wlt62 x71s49j x78zum5 xdt5ytf x1n2onr6 xl56j7k x6s0dn4">
                            <div class="xs83m0k xl56j7k x1sy10c2 x1h5jrl4 xieb3on xmn8rco x1iy3rx x1n2onr6 x1m7g9aj x1xvjs7e xyk3r29 xnfgh3p x61jkv3 x1u827li xsw4t2s x10plwgw x1kuriv8 x94yzjh x1q2yyqt x1v7wizp x1l0w46t xa3vuyk xw8ag78">
                                <div></div>
                                <div class="x7r02ix xf1ldfh x131esax xdajt7p xxfnqb6 xb88tzc xw2csxc x1odjw0f x5fp0pe xjcwj3x x1yc22su x1qrcuxw x16kaczq xyk3r29" role="dialog">
                                    <div style="display: flex; flex-direction: column; height: 100%; max-width: 100%; max-height: 65vh;">
                                        <div class="x1qjc9v5 x78zum5 xdt5ytf">
                                            <div class="_ac76">
                                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%; width: 100%;">
                                                    <h1 class="_ac78" dir="auto" tabindex="-1" style="width: calc(100% - 112px);"><div class="">Compartir</div></h1>
                                                </div>
                                                <div class="_ac7b _ac7c"></div>
                                                <div class="_ac7b _ac7d">
                                                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1pi30zi x1swvt13 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                        <button class="_abl- _abm2" type="button" (click)="filter.showSharepost = false">
                                                            <div class="_abm0">
                                                                <svg aria-label="Cerrar" class="x1lliihq x1n2onr6" color="rgb(0, 0, 0)" fill="rgb(0, 0, 0)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                                    <title>Cerrar</title>
                                                                    <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="3" y2="21"></line>
                                                                    <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="21" y2="3"></line>
                                                                </svg>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x6ikm8r x10wlt62 x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <div class="_aag-">
                                                <div class="_aa2s">
                                                    <div
                                                        class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xn6708d x1ye3gou xwib8y2 x1y1aw1k x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                    >
                                                        <h4 class="_aacl _aacp _aacw _aacx _aad8 _aade">Para:</h4>
                                                    </div>
                                                    <div class="_aa2u">
                                                        <!-- Dinamica start cuando se selecciona el radio a true -->
                                                        <ng-container *ngIf="this.obj_usersSelected != null ">
                                                            <ng-container *ngFor="let item of this.obj_usersSelected; index as i">
                                                                <div class="x9f619 xk5f4mz x78zum5 xyi19xy x1ccrb07 xtf3nb5 x1pc53ja x1gslohp xw3qccf x12nagc xsgj6o6 xn6708d x1ye3gou x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh xl56j7k" style="height: 26px;">
                                                                    <div
                                                                        class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1i0vuye xwhw2v2 xl56j7k x17ydfre x1f6kntn x2b8uid xlyipyv x87ps6o x14atkfc x1d5wrs8 x972fbf xcfux6l x1qhh985 xm0m39n xm3z3ea x1x8b98j x131883w x16mih1h xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xjbqb8w x1n5bzlp x173jzuc x1yc6y37 x3nfvp2"
                                                                        role="button"
                                                                        tabindex="0"
                                                                    >
                                                                        {{ item.username }}
                                                                    </div>
                                                                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh xl56j7k">
                                                                        <button class="_abl- _abm2" type="button" (click)="this.popUsername(item.id, 'close')">
                                                                            <div class="_abm0">
                                                                                <svg aria-label="Eliminar artículo" class="x1lliihq x1n2onr6" color="rgb(0, 149, 246)" fill="rgb(0, 149, 246)" height="12" role="img" viewBox="0 0 24 24" width="12">
                                                                                    <title>Eliminar artículo</title>
                                                                                    <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                                                                                    <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                                                                                </svg>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                        
                                                            <!-- <div class="x9f619 xk5f4mz x78zum5 xyi19xy x1ccrb07 xtf3nb5 x1pc53ja x1gslohp xw3qccf x12nagc xsgj6o6 xn6708d x1ye3gou x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh xl56j7k" style="height: 26px;">
                                                                <div
                                                                    class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1i0vuye xwhw2v2 xl56j7k x17ydfre x1f6kntn x2b8uid xlyipyv x87ps6o x14atkfc x1d5wrs8 x972fbf xcfux6l x1qhh985 xm0m39n xm3z3ea x1x8b98j x131883w x16mih1h xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xjbqb8w x1n5bzlp x173jzuc x1yc6y37 x3nfvp2"
                                                                    role="button"
                                                                    tabindex="0"
                                                                >
                                                                    rebecavasquez2373
                                                                </div>
                                                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh xl56j7k">
                                                                    <button class="_abl- _abm2" type="button">
                                                                        <div class="_abm0">
                                                                            <svg aria-label="Eliminar artículo" class="x1lliihq x1n2onr6" color="rgb(0, 149, 246)" fill="rgb(0, 149, 246)" height="12" role="img" viewBox="0 0 24 24" width="12">
                                                                                <title>Eliminar artículo</title>
                                                                                <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                                                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                                                                            </svg>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="x9f619 xk5f4mz x78zum5 xyi19xy x1ccrb07 xtf3nb5 x1pc53ja x1gslohp xw3qccf x12nagc xsgj6o6 xn6708d x1ye3gou x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh xl56j7k" style="height: 26px;">
                                                                <div
                                                                    class="x1i10hfl xjqpnuy xa49m3k xqeqjp1 x2hbi6w xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x1lku1pv x1a2a7pz x6s0dn4 xjyslct x1ejq31n xd10rxx x1sy0etr x17r0tee x9f619 x1ypdohk x1i0vuye xwhw2v2 xl56j7k x17ydfre x1f6kntn x2b8uid xlyipyv x87ps6o x14atkfc x1d5wrs8 x972fbf xcfux6l x1qhh985 xm0m39n xm3z3ea x1x8b98j x131883w x16mih1h xt7dq6l xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xjbqb8w x1n5bzlp x173jzuc x1yc6y37 x3nfvp2"
                                                                    role="button"
                                                                    tabindex="0"
                                                                >
                                                                    rebecavasquez2373
                                                                </div>
                                                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh xl56j7k">
                                                                    <button class="_abl- _abm2" type="button">
                                                                        <div class="_abm0">
                                                                            <svg aria-label="Eliminar artículo" class="x1lliihq x1n2onr6" color="rgb(0, 149, 246)" fill="rgb(0, 149, 246)" height="12" role="img" viewBox="0 0 24 24" width="12">
                                                                                <title>Eliminar artículo</title>
                                                                                <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                                                                                <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                                                                            </svg>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div> -->
                                                        
                                                        <!-- / Dinamica end -->
                                                        <input autocomplete="off" class="_aaie _aaid _ag7n" dir="" placeholder="Busca..." spellcheck="false" type="text" value="" name="queryBox" />
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x6ikm8r x1rife3k xs83m0k x1c4vz4f xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1" style="height: 480px;">
                                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 xktsk01 x1yztbdb x1d52u69 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                    <span
                                                        class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x5n08af x1yc453h x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                        style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                                    >
                                                        Sugerencias
                                                    </span>
                                                </div>

                                                <ng-container *ngFor="let item of this.data; index as i; count as c;">
                                                    <div (mouseover)="isChangedBlock = i" (mouseout)="isChangedBlock = -1" [ngClass]="isChangedBlock === i ? '_abn_' : '' "
                                                        class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk xdl72j9 x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt x1q0g3np x87ps6o x1lku1pv x1a2a7pz xh8yej3 x193iq5w x1lliihq x1dm5mii x16mil14 xiojian x1yutycm"
                                                        role="button"
                                                        tabindex="0"
                                                    >
                                                        <div
                                                            (click)="selectUser(i)"
                                                            class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1pi30zi x1swvt13 xwib8y2 x1y1aw1k x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1"
                                                        >
                                                            <div class="x9f619 x1n2onr6 x1ja2u2z x1qjc9v5 x78zum5 xdt5ytf x1iyjqo2 xl56j7k xeuugli">
                                                                <div class="x9f619 x1n2onr6 x1ja2u2z x78zum5 x2lah0s x1qughib x6s0dn4 xozqiw3 x1q0g3np" >

                                                                    <div class="x9f619 x1n2onr6 x1ja2u2z xdt5ytf x2lah0s x193iq5w xeuugli xamitd3 x78zum5">
                                                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xq8finb x1uhb9sk x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                                            <span
                                                                                class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                                                                role="link"
                                                                                tabindex="-1"
                                                                                style="width: 44px; height: 44px;"
                                                                            >
                                                                                <img
                                                                                    alt="Foto del perfil de rebecavasquez2373"
                                                                                    class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                                                    crossorigin="anonymous"
                                                                                    draggable="false"
                                                                                    src="{{ item.profileUrl }}"
                                                                                />
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="x9f619 x1n2onr6 x1ja2u2z x78zum5 x1iyjqo2 xs83m0k xeuugli x1qughib x6s0dn4 x1a02dak x1q0g3np xdl72j9">
                                                                        <div class="x9f619 x1n2onr6 x1ja2u2z x78zum5 xdt5ytf x2lah0s x193iq5w xeuugli x1iyjqo2">
                                                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1uhb9sk x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1cy8zhl x1oa3qoh x1nhvcw1">
                                                                                <span
                                                                                    class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x5n08af x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                                                    style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                                                                >
                                                                                    <span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">{{ item.username }}</span>
                                                                                </span>
                                                                                <span
                                                                                    class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x1roi4f4 x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                                                    style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                                                                >
                                                                                    <span class="x1lliihq x193iq5w x6ikm8r x10wlt62 xlyipyv xuxw1ft">{{ item.fullname }} - {{ item.checked }} </span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="x9f619 x1n2onr6 x1ja2u2z xdt5ytf x2lah0s x193iq5w xeuugli xamitd3 x78zum5">
                                                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x16n37ib x1uhb9sk x1plvlek xryxfnj xs83m0k x1c4vz4f x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                                            <button class="_abl-" type="button">
                                                                                <div class="_abm0">
                                                                                    <ng-container *ngIf="!item.checked">
                                                                                        <svg
                                                                                            aria-label="Marcar o desmarcar"
                                                                                            class="x1lliihq x1n2onr6"
                                                                                            color="rgb(38, 38, 38)"
                                                                                            fill="rgb(38, 38, 38)"
                                                                                            height="24"
                                                                                            role="img"
                                                                                            viewBox="0 0 24 24"
                                                                                            width="24"
                                                                                        >
                                                                                            <title>Marcar o desmarcar</title>
                                                                                            <circle cx="12.008" cy="12" fill="none" r="11.25" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"></circle>
                                                                                        </svg>
                                                                                    </ng-container>
                                                                                    <ng-container *ngIf="item.checked">
                                                                                        <svg aria-label="Marcar o desmarcar" class="x1lliihq x1n2onr6" color="rgb(0, 149, 246)" fill="rgb(0, 149, 246)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                                                            <title>Marcar o desmarcar</title>
                                                                                            <path d="M12.001.504a11.5 11.5 0 1 0 11.5 11.5 11.513 11.513 0 0 0-11.5-11.5Zm5.706 9.21-6.5 6.495a1 1 0 0 1-1.414-.001l-3.5-3.503a1 1 0 1 1 1.414-1.414l2.794 2.796L16.293 8.3a1 1 0 0 1 1.414 1.415Z"></path>
                                                                                        </svg>
                                                                                    </ng-container>
                                                                                </div>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="x1o1ewxj x3x9cwd x1e5q0jg x13rtm0m x1ey2m1c xds687c xg01cxk x47corl x10l6tqk x17qophe x13vifvy x1ebt8du x19991ni x1dhq9h x1wpzbip" data-visualcompletion="ignore"></div>
                                                    </div>
                                                </ng-container>

                                            </div>

                                            <hr class="x11mr3az x972fbf xcfux6l x1qhh985 xm0m39n xjm9jq1 xdj266r x11i5rnm xat24cr x1mh8g0r xh8yej3" />
                                            
                                            <!-- Dinamic: Caja de escribir un comentario start -->
                                            <!-- _aag_ _aah1 -->
                                            <div class="_aag_ _aah0" *ngIf="this.isCheckInputMessage">
                                                <input class="_aaie _aaid _ag7n _aaij" dir="" placeholder="Escribe un mensaje…" spellcheck="true" type="text" value="" name="shareCommentText" style="height: 42px;" />
                                            </div>
                                            <!-- Caja de escribir un comentario end -->
                                            <!-- _aah2 -->
                                            <div class="_aah2 _aah3">
                                                <button class="_acan _acap _acaq _acas _aj1-"  [disabled]="!this.isCheckInputMessage"  type="button"><div class="_aagz">Enviar</div></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><div></div></div>
        </div>
    </div>
    <div><div></div></div>
</div>
