<!-- <div style="height: 100vh; width: 100%; position: fixed;"> -->
    <section class="x78zum5 xdt5ytf x1iyjqo2 x5qyhuo x5yr21d xl56j7k x6ikm8r x10wlt62 x1n2onr6 xh8yej3">
        <div class="_ac0n" style="max-width: 1080px; max-height: 694.286px;">
            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1" style="height: 100%;">
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(-502.509px) scale(0.4);"></div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(-288.746px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.96250915527344px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de joeel56"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                joeel56
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T09:17:16.000Z" title="may 10, 2023">1 día</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(-74.9829px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.96250915527344px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de anjamiskovic"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                anjamiskovic
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T09:15:44.000Z" title="may 10, 2023">1 día</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(138.78px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.96249389648438px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de gianluca_lapadula_official"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                gianluca_lapadula_official
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T10:36:41.000Z" title="may 10, 2023">23 h</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(352.543px) scale(1);">
                    <section class="_ac0a">
                        <div class="_ac0b">
                            <button aria-label="Anterior" class="_ac0c" tabindex="0"><div class="_9zm0"></div></button>
                            <div class="_ac50">
                                <div class="_aa65 _aa66">
                                    <div class="_aa64" style="width: 374.906px; height: 666.5px;">
                                        <img
                                            class="_aa63 _ac51"
                                            crossorigin="anonymous"
                                            decoding="sync"
                                            style="top: 0px; position: relative;"
                                            sizes="374.90625px"
                                            srcset="
                                            https://images.unsplash.com/photo-1682847724222-207d5e8e0b97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60
                                            "
                                            src="https://images.unsplash.com/photo-1682847724222-207d5e8e0b97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60"
                                        />
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x6ikm8r x10wlt62 x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k">
                                            <div class="_ac0x">
                                                <div class="_ac0y" role="dialog"></div>
                                                <div aria-label="Cancelar ventana emergente" class="_ac57" role="button" tabindex="0" style="width: 374.906px; height: 666.5px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_aag2"></div>
                            <header class="_ac0k">
                                <div class="_ac3r">
                                    <div class="_ac3n">
                                        <div class="_ac3o"></div>
                                        <div class="_ac3p _ac3q" style="width: 36%;"></div>
                                    </div>
                                </div>
                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1qughib">
                                    <div class="_ac0l">
                                        <div class="_ac0o">
                                            <a
                                                class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk x78zum5 xdl72j9 xdt5ytf x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7 x1ypdohk x4gyw5p _ac0p _a6hd"
                                                href="/gisslamr/"
                                                role="link"
                                                tabindex="0"
                                                style="width: 32px; height: 32px;"
                                            >
                                                <img
                                                    alt="Foto del perfil de gisslamr"
                                                    class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                    crossorigin="anonymous"
                                                    draggable="false"
                                                    src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                                />
                                            </a>
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1cy8zhl x1oa3qoh x1nhvcw1">
                                                <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1">
                                                    <a
                                                        class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _ac0s _a6hd"
                                                        href="/gisslamr/"
                                                        role="link"
                                                        tabindex="0"
                                                    >
                                                        gisslamr
                                                    </a>
                                                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                        <time class="_ac0t" datetime="2023-05-10T20:51:30.000Z" title="may 10, 2023">13 h</time>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_ac0m">
                                        <button class="_abl-" type="button">
                                            <div class="_abm0">
                                                <svg aria-label="Reproducir" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="16" role="img" viewBox="0 0 24 24" width="16">
                                                    <title>Reproducir</title>
                                                    <path
                                                        d="M5.888 22.5a3.46 3.46 0 0 1-1.721-.46l-.003-.002a3.451 3.451 0 0 1-1.72-2.982V4.943a3.445 3.445 0 0 1 5.163-2.987l12.226 7.059a3.444 3.444 0 0 1-.001 5.967l-12.22 7.056a3.462 3.462 0 0 1-1.724.462Z"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </button>
                                        <button aria-label="Activar o desactivar audio" class="_abl-" type="button">
                                            <div class="_abm0">
                                                <svg aria-label="El vídeo no tiene audio." class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="16" role="img" viewBox="0 0 24 24" width="16">
                                                    <title>El vídeo no tiene audio.</title>
                                                    <path
                                                        d="M11.403 1.083a1.001 1.001 0 0 0-1.082.187L5.265 6H2a1 1 0 0 0-1 1v10.003a1 1 0 0 0 1 1h3.265l5.01 4.682.02.021a1 1 0 0 0 1.704-.814L12.005 2a1 1 0 0 0-.602-.917ZM20.704 12l1.94-1.94a1.5 1.5 0 0 0-2.122-2.12l-1.939 1.939-1.94-1.94a1.5 1.5 0 1 0-2.12 2.122L16.461 12l-1.94 1.94a1.5 1.5 0 1 0 2.122 2.12l1.939-1.939 1.94 1.94a1.5 1.5 0 0 0 2.12-2.122Z"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </button>
                                        <div>
                                            <button class="_abl-" type="button">
                                                <div class="_abm0">
                                                    <svg aria-label="Menú" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <title>Menú</title>
                                                        <circle cx="12" cy="12" r="2.75"></circle>
                                                        <circle cx="19.5" cy="12" r="2.75"></circle>
                                                        <circle cx="4.5" cy="12" r="2.75"></circle>
                                                    </svg>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <button aria-label="Siguiente" class="_ac0d"><div class="_9zm2"></div></button>
                            <div class="_ac11">
                                <div class="_ac12">
                                    <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                        <div class="_abx0 _abx1">
                                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw3qccf x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                                <textarea class="_abx2" placeholder="Responder a gisslamr..." style="height: 18px !important;"></textarea>
                                            </div>
                                        </div>
                                        <div class="_abx4">
                                            <span>
                                                <button class="_abl-" type="button">
                                                    <div class="_abm0 _abm1">
                                                        <svg aria-label="Me gusta" class="x1lliihq x1n2onr6" color="rgb(142, 142, 142)" fill="rgb(142, 142, 142)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                            <title>Me gusta</title>
                                                            <path
                                                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                                                            ></path>
                                                        </svg>
                                                    </div>
                                                    <div class="_abm0 _abl_">
                                                        <span class="">
                                                            <svg aria-label="Me gusta" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                                <title>Me gusta</title>
                                                                <path
                                                                    d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                                                                ></path>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="_ac3h">
                                            <button class="_abl-" type="button">
                                                <div class="_abm0">
                                                    <svg aria-label="Direct" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <title>Direct</title>
                                                        <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line>
                                                        <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                                    </svg>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(791.254px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.9625244140625px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de unpocodemitrendevida"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                unpocodemitrendevida
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T14:46:58.000Z" title="may 10, 2023">19 h</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(1005.02px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.96246337890625px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de paulch3"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                paulch3
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T15:36:17.000Z" title="may 10, 2023">18 h</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(1218.78px) scale(0.4);">
                    <div class="_ac0i">
                        <div class="_ac0j" aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                            <img
                                crossorigin="anonymous"
                                decoding="sync"
                                style="width: 100%; height: 100%; object-fit: cover;"
                                sizes="149.9625244140625px"
                                srcset="
                                https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60
                                "
                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                            />
                            <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x10l6tqk x1ey2m1c x13vifvy x17qophe xds687c x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x6s0dn4 x1oa3qoh xl56j7k" style="height: 100%;">
                                <div class="_ac07"></div>
                                <div class="_ac0h _advu">
                                    <div class="_aarf" aria-disabled="true" role="button" tabindex="-1">
                                        <canvas class="_aarh" height="66" width="66" style="position: absolute; top: -5px; left: -5px; width: 66px; height: 66px;"></canvas>
                                        <span
                                            class="xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 x1ykvv32 xougopr x159fomc xnp5s1o x194ut8o x1vzenxt xd7ygy7 xt298gk x1xrz1ek x1s928wv x162n7g1 x2q1x1w x1j6awrg x1n449xj x1m1drc7"
                                            role="link"
                                            tabindex="-1"
                                            style="width: 56px; height: 56px;"
                                        >
                                            <img
                                                alt="Foto del perfil de ernestosevillaoficial"
                                                class="x6umtig x1b1mbwd xaqea5y xav7gou xk390pu x5yr21d xpdipgo xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                                                crossorigin="anonymous"
                                                draggable="false"
                                                src="https://images.unsplash.com/photo-1683710921044-f8c4065a732f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
                                            />
                                        </span>
                                    </div>
                                    <div class="_afgd">
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw7yly9 x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp x1s688f x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                ernestosevillaoficial
                                            </span>
                                        </div>
                                        <div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1xmf6yo x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                                            <span
                                                class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x9bdzbf x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj"
                                                dir="auto"
                                                style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height: 18px;"
                                            >
                                                <time datetime="2023-05-10T14:43:26.000Z" title="may 10, 2023">19 h</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x10l6tqk x17qophe x19w6rv" style="height: 666.514px; width: 374.914px; transform: translate(1432.54px) scale(0.4);"></div>
            </div>
        </div>
        <div class="xjbqb8w x1ypdohk xw7yly9 xktsk01 x1yztbdb x1d52u69 x10l6tqk x13vifvy x17qophe">
            <a
                class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz _a6hd"
                href="/"
                role="link"
                tabindex="0"
            >
                <i
                    data-visualcompletion="css-img"
                    aria-label="Instagram"
                    class=""
                    role="img"
                    style="
                        background-image: url('https://static.cdninstagram.com/rsrc.php/v3/yR/r/se2xF0jIikF.png');
                        background-position: 0px 0px;
                        background-size: auto;
                        width: 103px;
                        height: 29px;
                        background-repeat: no-repeat;
                        display: inline-block;
                    "
                ></i>
            </a>
        </div>
        <div class="xjbqb8w x1ypdohk xw7yly9 xktsk01 x1yztbdb x1d52u69 x10l6tqk x13vifvy xds687c">
            <div
                class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 x78zum5 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha"
                role="button"
                tabindex="0"
            >
                <!-- <div class="x78zum5 x6s0dn4 xl56j7k xdt5ytf" [routerLink]="['stories', 'rebeca', '3099938179339172451']"> -->
                <div class="x78zum5 x6s0dn4 xl56j7k xdt5ytf" (click)="closeSwipeModalStories(false)">
                    <svg aria-label="Cerrar" class="x1lliihq x1n2onr6" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="24" role="img" viewBox="0 0 24 24" width="24">
                        <title>Cerrar</title>
                        <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                        <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                    </svg>
                </div>
            </div>
        </div>
    </section>
<!-- </div> -->
