<div>
	<section class="x78zum5 xdt5ytf x1iyjqo2 x6ikm8r xg6iff7">
		<main class="x78zum5 xdt5ytf x1iyjqo2 x182iqb8 xvbhtw8" role="main">
			<div class="_aa_y _aa_z _aa_-">

				<!-- 1. header start -->
				<header class="x1qjc9v5 x78zum5 x1q0g3np x2lah0s x1n2onr6 xc2v4qs x1qsaojo x1xl8k2i x1kcpa7z x1ez9qw7">
					<div class="x2lah0s x78zum5 xdt5ytf xl56j7k x1n2onr6 x16fuon9 x5bv2cf x9ozhqo xbn8dsz x184cenk">
						<app-profileheader></app-profileheader>
					</div>
					<section class="x1qjc9v5 x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x5n08af x78zum5 xdt5ytf xs83m0k xeuugli xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xk390pu x11njtxf x139hhg0 x1qgnrqa xg1prrt x1quol0o">
						<app-profileinfo></app-profileinfo>
					</section>
				</header>
				<!-- / header end -->

				<!-- 2. Stories start -->
				<div class="_ab05" role="menu">
					<app-profilestories></app-profilestories>
				</div>
				<!--  / Stories end -->

				<!-- 3. Tabs start -->
				<div>
					<app-profiletabs></app-profiletabs>
				</div>
				<!-- / tabs end -->
				<!-- 4 .Grid photos start -->
				<div class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">

					<!-- Aca hay que trabajar con las iteracciones 
						del tab para mostrar lo que se ha seleccionado 
					-->
					<!-- <app-profilegrid></app-profilegrid> -->
					<router-outlet></router-outlet>
				</div>
				<!-- / Grid photos end -->

			</div>
		</main>
	</section>
</div>