<div class="x1uhb9sk" style="">
    <div class="x9f619 x1n2onr6 x1ja2u2z">
        <div class="x78zum5 xdt5ytf xg6iff7 x1n2onr6">
            <div class="x1ey2m1c xds687c xixxii4 x17qophe x13vifvy x1h0vfkc"></div>
            <div class="x1uvtmcs x4k7w5x x1h91t0o x1beo9mf xaigb6o x12ejxvf x3igimt xarpa2k xedcshv x1lytzrv x1t2pt76 x7ja8zs x1n2onr6 x1qrby5j x1jfb8zj" style="">
                <div class="x1qjc9v5 x9f619 x78zum5 xdt5ytf x1iyjqo2 xl56j7k">
                    <div class="x1cy8zhl x9f619 x78zum5 xl56j7k x2lwn1j xeuugli x47corl">
                        <div role="dialog" class="x1ja2u2z x1afcbsf x1a2a7pz x6ikm8r x10wlt62 x71s49j x78zum5 xdt5ytf x1n2onr6 xl56j7k x6s0dn4">
                            <div class="xs83m0k xl56j7k x1sy10c2 x1h5jrl4 xieb3on xmn8rco x1iy3rx x1n2onr6 x1hfn5x7 x13wlyjk x1v7wizp x1l0w46t xa3vuyk xw8ag78">
                                <div></div>
                                <div class="x7r02ix xf1ldfh x131esax xdajt7p xxfnqb6 xb88tzc xw2csxc x1odjw0f x5fp0pe" role="dialog">
                                    <div style="display: flex; flex-direction: column; height: 100%; max-width: 100%;">
                                        <div class="_a9-v">
                                            <div class="_a9-z">
                                                <button class="_a9-- _a9-_" tabindex="0">Denunciar</button>
                                                <button class="_a9-- _a9-_" tabindex="0">Dejar de seguir</button>
                                                <button class="_a9-- _a9_1" tabindex="0">Añadir a favoritos</button>
                                                <button class="_a9-- _a9_1" tabindex="0">
                                                    <a class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk x78zum5 xdl72j9 xdt5ytf x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt _a6hd" role="link" tabindex="0">
                                                        <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:18px;">
                                                            Ir a la publicación
                                                        </span>
                                                    </a>
                                                </button>
                                                <button class="_a9-- _a9_1" tabindex="0">
                                                    <span class="x1lliihq x1plvlek xryxfnj x1n2onr6 x193iq5w xeuugli x1fj9vlw x13faqbe x1vvkbs x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x x1i0vuye xvs91rp xo1l8bm x5n08af x1tu3fi x3x7a5m x10wh9bi x1wdrske x8viiok x18hxmgj" style="line-height: var(--base-line-clamp-line-height); --base-line-clamp-line-height:18px;">Compartir en...</span>
                                                </button>
                                                <button class="_a9-- _a9_1" tabindex="0">Copiar enlace</button>
                                                <button class="_a9-- _a9_1" tabindex="0">Código de inserción</button>
                                                <button class="_a9-- _a9_1" tabindex="0">Información sobre esta cuenta</button>
                                                <button class="_a9-- _a9_1" tabindex="0">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>